/* navbarbreadcrumb */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    --blue-color: #0c1484;
    --grey-color: #e2e2e2;
    --red-color: #fd0001;
    --darkred-color: #c41212;
    --white-color: #ffffff;
    --darkgrey-color: #5d5d5d;
    --black-color: #000000;
  }
  body {
    background-color: var(--grey-color);
}
button
{
  cursor: pointer;
}
/* navbar styling */
.navbar {
    margin: 20px 10px;
    background-color: var(--blue-color);
    border-radius: 25px;
    display: flex;
    padding: 7px 10px;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.navbar-content:nth-child(1) {
    margin-left: 25px;
}

.navbar-content:nth-child(2) {
    margin-right: 25px;
}

.navbar-img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.navbar-link-div {
    margin: 0px 20px;
    position: relative;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
}

.navbar-link::after {
    content: "";
    height: 2px;
    width: 0;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
}

.navbar-link:hover::after {
    width: 100%;
}
.login,
.signup {
    margin: 0px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
}

.login {
    color: var(--white-color);
}

.login:hover {
    color: var(--red-color);
}

.signup {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 6px 24px;
    border-radius: 30px;
}

.signup:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

.navbar-burger {
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    display: none;
}

.navbar-side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--blue-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.navbar-side .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    margin-right: 50px;
}

  .navhistory 
  {
    margin-left: 30px;
  }
  
  ul.breadcrumb
  {
    list-style: none;
  }
  ul.breadcrumb li
  {
    display: inline;
    font-size: 15px;
  }
  ul.breadcrumb li.current
  {
    font-weight: 600;
  }
  ul.breadcrumb li+li::before
  {
    content: "> ";
  }
  ul.breadcrumb li a 
  {
    color: black;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover 
  {
    text-decoration: underline;
  }
  /* content */

  .topcontent
  {
    display: flex;
    padding: 50px;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 70%;
  }
  .imgcontainer
  {
    background-color: var(--white-color);
    max-width: 500px;
    max-height: 300px;
    border-radius: 25px;
  }
  .recipeimg
  {
    border-radius: 25px;
    width: 100%;
    height: 100%;
  }
  .recipedetail 
  {
    background-color: var(--white-color);
    border-radius: 25px;
    padding: 20px 30px;
  }
  h3{
    padding: 10px;
  }
  .menu-of-the-day
  {
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
  }
  .menu-of-the-day:hover
  {
    background-color: var(--black-color);
  }
  .fa-solid.fa-thumbs-up,   .fa-solid.fa-star
  {
    color: #ffc107;
  }
  .dollarsign
  {
    float: left;
    padding-right: 15px;
  }
.menu-estimated-budget
{
    color: var(--darkgrey-color);
    padding: 50px 5px 20px 5px;
}
.recipe-by, .chef-name, .date
{
    color: var(--darkgrey-color);
}
.fa-solid.fa-user
{
    padding-right:25px;
}
.fa-solid.fa-clock
{
    padding-right: 24px;
}
.upload-rating
{
    padding-top: 20px;
}
.rating
{
    padding-left: 50px;
    font-weight: 700;
}
.contentline
{
    background-color: var(--darkgrey-color);
    width: 67%;
    padding: 0.5px;
    border: none;
    margin: auto;
}
.botcontent
{
    background-color: var(--white-color);
    padding: 30px;
    max-width: 65%;
    margin: 50px auto;
    border-radius: 25px;
}
.threebutton
{
    display: flex;
    justify-content: space-around;
}
.ingredient, .instruction, .detail 
{
    padding: 10px 80px;
    border: none;
    background-color: var(--darkgrey-color);
    color: var(--white-color);
    border-radius: 15px;
}
.ingredient:hover 
{
    background-color: var(--blue-color);
}
.instruction:hover 
{
    background-color: var(--blue-color);
}
.detail:hover 
{
    background-color: var(--blue-color);
}
.ingredient-instruction-detail
{
    padding: 50px;
    display: list-item;
    list-style: none;
}
.feedback
{
    background-color: var(--white-color);
    max-width: 65% ;
    border-radius: 25px;
    margin: auto;
    padding: 25px;
    text-align: center;
}
.feedbackheadline
{
    font-weight: 900;
}
.feedbacksubheadline
{
    font-weight: 500;
}
.feedbackheadline, .feedbacksubheadline
{
    padding: 10px 0px;
}
li
{
    padding: 5px 0px;
    list-style: none;
}
label
{
    padding-left: 10px;
    font-weight: 700;

}
.submitfeedback
{
    margin: 40px 0px 10px 0px;
    border: none;
    padding: 10px 100px;
    border-radius: 15px;
    background-color: var(--blue-color);
    color: var(--white-color);
}
.submitfeedback:hover
{
    background-color: var(--black-color);
}
 
  /* footer */
  footer
{
  margin-top: 100px;
  height: auto;
  background-color: #0c1484;
  color: white;
}
.desc-contact-location
{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.footer-image
{
  width: 207px;
  height: auto;
}
.logo-desc
{
  text-align: center;
  font-size: 12px;
}
.contact-email
{
  text-align: center ;
  padding-top: 35px;
}
.contact-email ul li 
{
  list-style: none;
  padding-bottom: 20px;
}
.contact-header
{
  letter-spacing: 1px;
  font-weight: 700;
}
.contact-emailaddress
{
  font-size: 12px;
  font-weight: 300;
}
.contact-number
{
  font-size: 12px;
}
.social-media
{
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.fa-brands.fa-instagram
{
  font-size: 30px;
}
.fa-brands.fa-facebook-f
{
  font-size: 25px;
}
.fa-brands.fa-twitter
{
  font-size: 25px;
}
.fa-brands:hover
{
  color: rgb(250,7,9);
}
.location-map
{
  padding-top: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.location-header
{
  font-weight: 700;
  letter-spacing: 1px;
}
#map
{
  margin-top: 10px;
  width: 250px;
  height: 200px;
  background-color: #959599;
}
.footerline{
  margin-top: 20px;
  padding: 1px;
  border: none;
  background-color: #7dbce0;
}
.copyright
{
  text-align: center;
  padding: 10px;
  font-size: 12px;
}