* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    --blue-color: #0c1484;
    --grey-color: #e2e2e2;
    --red-color: #fd0001;
    --darkred-color: #c41212;
    --white-color: #ffffff;
    --darkgrey-color: #5d5d5d;
    --black-color: #000000;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* body */
body {
    background-color: var(--grey-color);
}

/* navbar styling */
.navbar {
    margin: 20px 10px;
    background-color: var(--blue-color);
    border-radius: 25px;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.navbar-content:nth-child(1) {
    margin-left: 25px;
}

.navbar-content:nth-child(2) {
    margin-right: 25px;
}

.navbar-img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.navbar-link-div {
    margin: 0px 20px;
    position: relative;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
}

.navbar-link::after {
    content: "";
    height: 2px;
    width: 0;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
}

.navbar-link:hover::after {
    width: 100%;
}

.login,
.signup {
    margin: 0px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
}

.login {
    color: var(--white-color);
}

.login:hover {
    color: var(--red-color);
}

.signup {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 6px 24px;
    border-radius: 30px;
}

.signup:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}

.navbar-burger {
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    display: none;
}

.navbar-side {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--blue-color);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.navbar-side .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    margin-right: 50px;
}

/* signup styling */
.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    margin: 30px auto;
}

.signup-greet h1 {
    font-size: 36px;
    text-align: center;
}

.signup-greet p {
    text-align: center;
}

.signup-input-group {
    margin: 20px 0;
}

.signup-input-label {
    display: block;
    font-size: 16px;
}

.signup-input-box {
    display: block;
    width: 100%;
    padding: 12px 18px;
    border-radius: 7.5px;
    border: 1px solid var(--darkgrey-color);
    font-size: 16px;
}

.signup-btn-submit {
    padding: 6px 24px;
    border-radius: 7.5px;
    display: block;
    width: 100%;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 16px;
}

.signup-btn-submit:hover {
    background-color: var(--red-color);
}

.signup-btn-submit:focus {
    background-color: var(--darkred-color);
}

.signup-inform-login {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.signup-link-login {
    color: var(--black-color);
    font-weight: 700;
}

.signup-img {
    display: grid;
    place-items: center;
    max-width: 500px;
}

.signup-img img {
    width: 100%;
    height: auto;
}

/* ************************************* */
/* *                                   * */
/* *   FOR TAB AND MOBILE RESPONSIVE   * */
/* *                                   * */
/* ************************************* */
@media (max-width: 960px) {
    /* navbar */
    .navbar-link-div,
    .login,
    .signup {
        display: none;
    }

    .navbar-burger {
        display: block;
    }

    .navbar-side {
        padding-top: 60px;
    }

    .navbar-side .navbar-link-div,
    .navbar-side .login,
    .navbar-side .signup {
        display: block;
    }
    .navbar-link:hover::after {
        width: 15%;
    }

    .signup-img {
        display: none;
    }
}
